@import './reset.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #3A55B4;
  width: 100%;
}

.body {
  padding-top: 12vh;
  min-height: 86vh;
}

.coach-full {
  padding-top: 4vh;
}

h1, h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2vh;
}

article {
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-size: 1.3rem;
  line-height: 2.5vh;
}

button {
  font: inherit;
}

.article-wrapper {
  width: 38vw;
  margin-left: auto;
  margin-right: auto;
}

article:nth-child(even) {
  color: #FFF;
  background-color: #3A55B4;
}

.btn {
  background-color: #1F337B;
  color: #FFF;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.button-link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.active {
  border-bottom: 2px solid #3A55B4;
}

.show {
  right: 0px !important;
}

.datetimepicker .datepicker {
  border-radius: 3px !important;
}

.slick-slider {
  height: 88vh;
}

.slick-list, .slick-track, .slick-slide, .slick-active, .slick-slide div, .slick-slide div img {
  height: inherit !important;
}

.slick-slide div img, .slick-slide div img {
  object-fit: cover;
}

.is-active, .will-be-active {
  display: block;
  color: #ffd055 !important;
}

.is-active-half::before {
  color: #ffd055 !important;
}

.flatpickr-input {
  display: none;
}

.flatpickr-calendar, .flatpickr-month, .flatpickr-monthDropdown-month,
.flatpickr-monthDropdown-months, .flatpickr-weekday, .numInput {
  background: #1F337B !important;
}

.flatpickr-calendar {
  margin-bottom: 1vh;
  border-radius: 3px !important;
}
