.mobileNav {
  margin-left: auto;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  right: 100%;
  overflow: hidden;
  transition: 0.5s;
  background-color: #1F337B;
  z-index: 200;
}

.mobileNavList {
  margin-top: 25vh;
  margin-bottom: 25vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.mobileNavList li {
  font-size: 5rem;
  line-height: 1.5;
}

.mobileNavList li a .active  {
  border: none;
}

.mobileNavList a:hover::after {
  transform: scaleX(0);
}

.navLink {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  width: 100%;
}
